<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Andrew Mulert, 
Career, About, Information, Website, Skills, 
Job, Web Design, Web Designer, UI, UX, 
Frontend Developer">
<meta name="description" content="<%= heroTextDescription || 'A website built by Andrew Mulert used to show his Web design skills and abilities' %>">
<meta name="author" content="Andrew Mulert">
<meta property="og:url" content="https://andrewmulert.online/">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="Welcome to my website! Please take a look around!">
<meta property="og:image" content="/images/<%= heroImage || 'hero_image_waterfall' %>-min.webp">
<title><%= title %></title>
<link rel="icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/larger.css">
<% if (styles && styles.length > 0) { %>
    <% styles.forEach((style) => { %>
        <%- style %>
    <% }); %>
<% } %>
<% if (scripts && scripts.length > 0) { %>
    <% scripts.forEach((script) => { %>
        <%- script %>
    <% }); %>
<% } %>